<div class="question-header">
  {{model.question}}
</div>
<br>
<div class="question-author">
  {{model.author}}
</div>
<hr>
<div class="question-notes">
 Notes: {{model.notes}}
</div>    

{{edit-question model=model destroyQuestion="destroyQuestion" update="update"}}

<h3>Answers</h3>
<ul>
{{#each model.answers as |answer|}}
  {{answers-tile answer=answer updateAnswer="updateAnswer" destroyAnswer="destroyAnswer"}}
{{/each}}  
</ul>
{{answer-form model=model saveAnswer="saveAnswer"}}
